# Database connection string
POSTGRES_URL=postgresql://neondb_owner:npg_2TOJFCXIy1bL@ep-holy-sunset-aptjfffp.c-7.us-east-1.aws.neon.tech/neondb?sslmode=req
# Used to encrypt JWT tokens
PAYLOAD_SECRET=yl0kkSaZdcmOZuQlG0EDss6HORfq+d5Bn8IHQLdg00s=
# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_SERVER_URL=https://payload-website-starter-eight-xi-38.vercel.app
# Secret used to authenticate cron jobs
CRON_SECRET=azD/LRI/gMK5uVu81s70Baj4gfd0naS/+D09huDcSFU=
# Used to validate preview requests
PREVIEW_SECRET=Ne1XW7vY4+FF3WotwHo3ARp4aCnpXzzy82FSqiYocFA=